.env

media/
ocrapp/utils/model/
ocrapp/utils/models_transformer/
ocrapp/utils/SentimentAnalysis/

__pycache__/
*.pyc
ocrapp/utils/tmp_fol/

ocrapp/prabhag_utils/


logs/
nano
start_max_power.sh
stop_system.sh

